@import "src/styles/global/sizes";

.wrapper {
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #fff;
}

.wrapper__fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 5;
}

.content {
  width: 80%;
  max-width: 2000px;
  margin: auto auto;
  display: grid;
}

.center-content {
  display: grid;
  justify-content: center;
  align-content: center;
}


.cover-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.contain-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: 0.3s;
  display: flex;
  align-items: flex-start;
}

.column {
  display: grid;
  grid-auto-flow: column;
}

.row {
  display: grid;
  grid-auto-flow: row;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
};

.loader-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.loader-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.pointer{
  cursor: pointer;
  *{cursor: pointer}
}
